@import url('./fonts.css');
@import url('./variables.css');

/* noinspection ALL */
@view-transition {
    navigation: auto;
}

html {
    background-color: var(--bg-color);
    color: var(--base-color);
}

body {
    min-height: 100vh;
    margin: 0;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

footer {
    min-height: 80px;
}

pre {
    white-space: pre-wrap;
    word-wrap: break-word;
}

img {
    border-radius: 0.5rem;
    border: 3px solid var(--base-color);
}

.bordered {
    border-radius: 0.5rem;
    border: 3px solid var(--base-color);
    border-bottom-width: 6px;
}

.social img:hover {
    filter: invert(57%) sepia(73%) saturate(1910%) hue-rotate(352deg) brightness(100%) contrast(109%);
}

.post-card:hover img,
.project-card:hover {
    transform: scale(1.01);
    transition: transform 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);
}

.up-arrow-fill {
    position: absolute;
    inset: 0;
    bottom: calc(100% - var(--scroll-percentage) * 1%);
    background-color: var(--highlight-color)
}
