:root {
    --bg-color:#f8f5f2;
    --base-color: #232323;
    --highlight-color: #078080;
    --secondary-color: #f45d48;
}

@font-face {
    font-family: Manrope;
    src: url('fonts/Manrope/Manrope-Regular.ttf') format('truetype');
    font-weight: 400; /* Normal weight */
    font-style: normal;
}

@font-face {
    font-family: Manrope;
    src: url('fonts/Manrope/Manrope-Bold.ttf') format('truetype');
    font-weight: 700; /* Bold weight */
    font-style: normal;
}

html {
    background-color: var(--bg-color);
    font-family: Manrope, serif;
}

nav a:hover {
    border-bottom: 4px solid var(--secondary-color);
}