/* noinspection ALL */
@view-transition {
    navigation: auto;
}

:root {
    --bg-color:#f9f28d;
    --bg-secondary-color: #f8f5f2;
    --base-color: #000;
    --highlight-color: #57a56f;
    --swiper-navigation-color: var(--highlight-color);
    --swiper-pagination-color: var(--highlight-color);
    --scroll-percentage: 0
}

@font-face {
    font-family: Manrope;
    src: url('fonts/Manrope/Manrope-Regular.ttf') format('truetype');
    font-weight: 400; /* Normal weight */
    font-style: normal;
}

@font-face {
    font-family: Manrope;
    src: url('fonts/Manrope/Manrope-Bold.ttf') format('truetype');
    font-weight: 700; /* Bold weight */
    font-style: normal;
}

@font-face {
    font-family: Manrope;
    src: url('fonts/Manrope/Manrope-ExtraBold.ttf') format('truetype');
    font-weight: 800; /* Bold weight */
    font-style: normal;
}

html {
    background-color: var(--bg-color);
    color: var(--base-color);
    font-family: Manrope, serif;
}

body {
    min-height: 100vh;
    margin: 0;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

footer {
    min-height: 80px;
}

pre {
    white-space: pre-wrap;
    word-wrap: break-word;
}

img {
    border-radius: 0.5rem;
    border: 3px solid var(--base-color);
}

.bordered {
    border-radius: 0.5rem;
    border: 3px solid var(--base-color);
    border-bottom-width: 6px;
}

.social img:hover {
    filter: invert(57%) sepia(45%) saturate(406%) hue-rotate(86deg) brightness(92%) contrast(87%);
}

.post-card:hover img,
.project-card:hover {
    transform: scale(1.01);
    transition: transform 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);
}

.up-arrow-fill {
    position: absolute;
    inset: 0;
    bottom: calc(100% - var(--scroll-percentage) * 1%);
    background-color: var(--highlight-color)
}
