---
import Layout from "../layouts/Layout.astro";
import BlogPost from "../components/BlogPost.astro";

const pageTitle = "Blog";
const allPosts = Object.values(
  import.meta.glob("./posts/*.md", { eager: true }),
);
---

<Layout pageTitle={pageTitle}>
  <ul class="grid gap-14 sm:grid-cols-2">
    {
      allPosts.map((post) => (
        <li>
          <BlogPost post={post} />
        </li>
      ))
    }
  </ul>
</Layout>
