---
import Layout from "../layouts/Layout.astro";
import Prose from "../components/Prose.astro";
---

<Layout>
  <div class="flex flex-col xl:flex-row gap-6 justify-center">
    <img
      alt="avatar"
      src="https://davidrkadler.info/wp-content/themes/davidrk/images/davidhomeimage.jpg"
      class="mx-auto object-cover rounded-lg"
    />
    <Prose>
      About Me About MeAbout MeAbout MeAbout MeAbout MeAbout MeAbout MeAbout
      MeAbout MeAbout MeAbout MeAbout MeAbout MeAbout MeAbout MeAbout MeAbout
      MeAbout MeAbout MeAbout MeAbout MeAbout MeAbout MeAbout MeAbout MeAbout
      MeAbout MeAbout MeAbout MeAbout MeAbout MeAbout MeAbout MeAbout MeAbout
      MeAbout MeAbout MeAbout MeAbout MeAbout MeAbout MeAbout MeAbout MeAbout
      MeAbout MeAbout MeAbout MeAbout MeAbout MeAbout MeAbout MeAbout MeAbout
      MeAbout MeAbout MeAbout MeAbout MeAbout MeAbout MeAbout MeAbout MeAbout
      MeAbout MeAbout MeAbout MeAbout Me
    </Prose>
  </div>
</Layout>
