---
import { Image } from "astro:assets";
import Layout from "../layouts/Layout.astro";
import Prose from "../components/Prose.astro";
import meImage from "../assets/me.jpg";
import Social from "../components/Social.astro";
---

<Layout>
  <div class="p-[4vw] bordered bg-[var(--bg-secondary-color)]">
    <Prose>
      <Image
        class="sm:float-left sm:w-1/2 sm:mr-6 sm:mb-0 max-sm:mb-6"
        alt="That's me"
        src={meImage}
      />
      <section class="sm:float-none sm:mt-0">
        <p>
          Hey 👋, I'm a software engineer based in Athens with experience in
          building things on the web and beyond. I am currently working at
          Skroutz.
        </p>
        <p>
          This is a place where I share ideas, experiments, and things I find
          interesting. It also demonstrates some of my work and the stuff i am
          thrilled or curious about.
        </p>
        <p>
          I am also passionate in music and into the craft of creating
          playlists. You can find some <a
            href="https://open.spotify.com/user/fean0r11/playlists">here</a
          >.
        </p>
        <div class="flex items-center gap-2">
          Let's get in touch: <Social />
        </div>
      </section>
    </Prose>
  </div>
</Layout>
