---
import Layout from "../layouts/Layout.astro";

const pageTitle = "Projects";
---

<Layout pageTitle={pageTitle}>
  <ul>
    <li><a href="/projects/project-1">Project 1</a></li>
    <li><a href="/projects/project-2">Project 2</a></li>
    <li><a href="/projects/project-3">Project 3</a></li>
  </ul>
</Layout>
