---
import Layout from "../layouts/Layout.astro";
import Head from "../components/Head.astro";
import ProjectCard from "../components/ProjectCard.astro";
import { getCollection } from "astro:content";

const projects = await getCollection("projects");
projects.sort((a, b) => Date.parse(b.data.date) - Date.parse(a.data.date));
const pageTitle = "Projects";
---

<Layout pageTitle={pageTitle}>
  <Head
    slot="head"
    title="Projects | foyay"
    description="Web projects and experiments by fgkolf, software engineer based in Athens."
  />
  <div class="grid sm:grid-cols-2 lg:grid-cols-4 gap-4">
    {
      projects.map((project) => (
        <ProjectCard
          url={`/projects/${project.id}`}
          frontmatter={project.data}
        />
      ))
    }
  </div>
</Layout>
