---
import Layout from "../layouts/Layout.astro";
import ProjectCard from "../components/ProjectCard.astro";
import { getCollection } from "astro:content";

const projects = await getCollection("projects");
const pageTitle = "Projects";
---

<Layout pageTitle={pageTitle}>
  <div class="grid sm:grid-cols-2 lg:grid-cols-4 gap-4">
    {
      projects.map((project) => (
        <ProjectCard
          url={`/projects/${project.slug}`}
          frontmatter={project.data}
        />
      ))
    }
  </div>
</Layout>
