---
import Layout from "../layouts/Layout.astro";
const allProjects = Object.values(
  import.meta.glob("./projects/*.md", { eager: true }),
);
const pageTitle = "Projects";
---

<Layout pageTitle={pageTitle}>
  <ul>
    {
      allProjects.map((project) => (
        <li>
          <a href={project.url}>{project.frontmatter.title}</a>
        </li>
      ))
    }
  </ul>
</Layout>
