<div class="space-y-[1vw] sm:hidden">
  <span
    class="block h-0.5 w-[3vw] origin-center rounded-full bg-[var(--base-color)]"
  ></span>
  <span
    class="block h-0.5 w-[2vw] origin-center rounded-full bg-[var(--base-color)]"
  ></span>
</div>
