---
import MenuButton from "./MenuButton.astro";
import Navigation from "./Navigation.astro";

import { Image } from "astro:assets";
import siteImage from "../assets/foyay.png";

const { siteName } = Astro.props;
---

<header
  class="p-4 flex-row max-sm:bg-[var(--bg-secondary-color)] max-sm:border-b-[1vw] border-solid border-[var(--base-color)]"
>
  <div class="flex items-center justify-center">
    <a href="/">
      <h1 class="text-[7vw] sm:text-[5vw] font-semibold">
        <Image
          src={siteImage}
          alt={siteName}
          class="w-[35vw] sm:max-w-[15vw] border-none"
        />
      </h1>
    </a>
    <div
      class="sm:hidden absolute right-8 size-[10vw] group flex items-center justify-center"
    >
      <MenuButton />
    </div>
  </div>
  <Navigation />
</header>
