---
import BurgerIcon from "./BurgerIcon.astro";
import Separator from "./Separator.astro";
const { headerTitle } = Astro.props;
---

<header>
  <a href="/" class="py-4 pr-4 flex items-center">
    <div
      id="menu-button"
      class="fixed rounded-r-md sm:absolute z-10 bg-[var(--highlight-color)] size-[7vw] sm:size-[5vw] group flex items-center justify-center sm:pointer-events-none transition-all duration-700"
    >
      <BurgerIcon />
    </div>
    <h1
      class="text-[7vw] sm:text-[5vw] ml-[11vw] sm:ml-[9vw] font-semibold transition-all duration-700"
    >
      {headerTitle}
    </h1>
  </a>
  <Separator />
</header>

<script>
  const sidebar = document.querySelector("#sidebar");
  const menuButton = document.querySelector("#menu-button");
  const overlay = document.querySelector(".overlay");

  menuButton.addEventListener("click", (e) => {
    e.preventDefault();
    sidebar.classList.toggle("visible");
  });

  overlay.addEventListener("click", (e) => {
    e.preventDefault();
    sidebar.classList.remove("visible");
  });
</script>
