---
import Navigation from "./Navigation.astro";

import { Image } from "astro:assets";
import siteImage from "../assets/foyay.png";

const { siteName } = Astro.props;
---

<header
  class="p-4 flex-row"
>
  <div class="flex items-center justify-center">
    <a href="/">
      <h1 class="text-[7vw] sm:text-[5vw]">
        <Image
          src={siteImage}
          alt={siteName}
          class="w-[40vw] sm:max-w-[20vw] border-none text-[var(--highlight-color)]"
        />
      </h1>
    </a>
  </div>
  <Navigation />
</header>
