<button
  id="menu-button"
  class="p-2 group inline-flex text-center items-center justify-center rounded aria-checked:border-[var(--highlight-color)] aria-checked:border-4"
  aria-checked="false"
>
  <span class="sr-only">Menu</span>
  <svg class="size-[8vw] fill-current pointer-events-none" viewBox="0 0 16 16">
    <rect
      class="origin-center -translate-y-[5px] translate-x-[7px] transition-transform duration-300 ease-[cubic-bezier(.5,.85,.25,1.1)] group-[[aria-checked=true]]:translate-x-0 group-[[aria-checked=true]]:translate-y-0 group-[[aria-checked=true]]:rotate-[315deg]"
      y="7"
      width="16"
      height="2"
      rx="1"></rect>
    <rect
      class="origin-center transition-transform duration-300 ease-[cubic-bezier(.5,.85,.25,1.8)] group-[[aria-checked=true]]:rotate-45"
      y="7"
      width="16"
      height="2"
      rx="1"></rect>
    <rect
      class="origin-center translate-y-[5px] transition-transform duration-300 ease-[cubic-bezier(.5,.85,.25,1.1)] group-[[aria-checked=true]]:translate-y-0 group-[[aria-checked=true]]:-rotate-[225deg]"
      y="7"
      width="16"
      height="2"
      rx="1"></rect>
  </svg>
</button>

<script>
  const navigation = document.querySelector("#navigation");
  const menuButton = document.querySelector("#menu-button");

  menuButton.addEventListener("click", (e) => {
    e.preventDefault();
    const checked = menuButton.getAttribute("aria-checked") === "true";
    navigation.classList.toggle("visible");
    menuButton.setAttribute("aria-checked", !checked);
  });
</script>
