---
import Social from "./Social.astro";
const linkClass =
  "hover:text-[var(--highlight-color)] font-extrabold transition-colors duration-300";
---

<nav
  id="navigation"
  class="flex align-center justify-center max-sm:mobile-nav transition-colors duration-300"
>
  <ul
    class="bordered mt-4 text-xl px-6 py-4 flex gap-4 bg-[var(--bg-secondary-color)]"
  >
    <li>
      <a href="/" class={linkClass}>info</a>
    </li>
    <li>
      <a href="/blog" class={linkClass}>blog</a>
    </li>
    <li>
      <a href="/projects" class={linkClass}>projects</a>
    </li>
    <li class="pl-4 border-l-4 border-double border-[var(--base-color)]">
      <Social />
    </li>
  </ul>
</nav>
