<nav>
  <ul class="text-xl lg:text-3xl grid gap-6">
    <li>
      <a href="/" class="hover:underline decoration-[var(--secondary-color)]"
        >Home</a
      >
    </li>
    <li>
      <a
        href="/projects"
        class="hover:underline decoration-[var(--secondary-color)]">Projects</a
      >
    </li>
    <li>
      <a
        href="/blog"
        class="hover:underline decoration-[var(--secondary-color)]">Blog</a
      >
    </li>
    <li>
      <a
        href="/about"
        class="hover:underline decoration-[var(--secondary-color)]">About</a
      >
    </li>
  </ul>
</nav>
