<ul class="flex gap-2 mt-8">
  <li class="w-6">
    <a href="https://github.com/fgkolf">
      <img src="/gh.svg" alt="github" />
    </a>
  </li>
  <li class="w-6">
    <a href="https://www.linkedin.com/in/xenofontas-gkolfinopoulos/">
      <img class="rounded-full" src="/linkedin.svg" alt="linkedin" />
    </a>
  </li>
</ul>
