<ul class="flex gap-2 mt-8 text-[var(--highlight-color)]">
  <li class="w-6">
    <a href="https://github.com/fgkolf" target="_blank">
      <img class="rounded-full text-red" src="/github.svg" alt="github" />
    </a>
  </li>
  <li class="w-6">
    <a
      href="https://www.linkedin.com/in/xenofontas-gkolfinopoulos"
      target="_blank"
    >
      <img class="rounded-full" src="/linkedin.svg" alt="linkedin" />
    </a>
  </li>
  <li class="w-6">
    <a href="https://stackoverflow.com/users/13168083/fgkolf" target="_blank">
      <img class="rounded-full" src="/stackoverflow.svg" alt="linkedin" />
    </a>
  </li>
</ul>
