<ul class="flex gap-2 mt-8">
  <li class="w-6">
    <a href="https://github.com/fgkolf" target="_blank">
      <img
        class="rounded-full hover:bg-[var(--highlight-color)]"
        src="/gh.svg"
        alt="github"
      />
    </a>
  </li>
  <li class="w-6">
    <a
      href="https://www.linkedin.com/in/xenofontas-gkolfinopoulos/"
      target="_blank"
    >
      <img
        class="rounded-full hover:bg-[var(--highlight-color)]"
        src="/linkedin.svg"
        alt="linkedin"
      />
    </a>
  </li>
</ul>
