---
import "../styles/global.css";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import backgroundNoise from "../assets/noise.webp";

const siteName = "foyay";
const { pageTitle = "", metaTitle } = Astro.props;
const tabTitle = pageTitle || metaTitle;
const title = tabTitle?.concat(` | ${siteName}`) || siteName;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{title}</title>
    <slot name="head" />
  </head>
  <body style={`background-image: url(${backgroundNoise.src});`}>
    <Header siteName={siteName} />
    <main class="flex justify-center">
      <div class="m-[4vw]">
        <slot />
      </div>
    </main>
    <Footer />
  </body>
</html>
