---
import "../styles/global.css";
import Navigation from "../components/Navigation.astro";
import Social from "../components/Social.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";

const siteName = "fgkolf:";
const { pageTitle, metaTitle, sidebarHidden } = Astro.props;
const title =
  pageTitle || metaTitle ? `${pageTitle || metaTitle} | ${siteName}` : siteName;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{title}</title>
  </head>
  <body class="text-[var(--base-color)]">
    <Header headerTitle={pageTitle || siteName} />
    <main class={`flex relative ${sidebarHidden ? "" : "sidebar-visible"}`}>
      <aside
        id="sidebar"
        class={`p-4 md:p-12 border-r-[0.5vw] border-solid border-[var(--base-color)] ${sidebarHidden ? "hidden sm:block" : ""}`}
      >
        <Navigation />
        <Social />
      </aside>
      <div class="p-8 md:p-12 flex flex-col items-center">
        <slot />
      </div>
    </main>
    <Footer />
  </body>
</html>
